extends layout

block scripts
  script(src='/public/scripts/submit.js')

block content
  h1= title
  p Welcome to #{title}
  h1 Words: !{words}
  //form(method="post" id="formPicker")
  //  input(type="text", placeholder="Type in here", name="words")
  //  input(type="submit", value="Save")
